---
layout: layouts/base.njk
---
<article class="article page-article" data-pagefind-body>
  <header class="article-head">
    <h1 class="article-title">{{ title }}</h1>
  </header>
  <div class="prose">
    {{ content | safe }}
  </div>
</article>
